/* ============================================
 초 기 값  설 정
 ============================================ */
body, ul, li, p {
  margin: 0;
}

body {
  /*background-image: url(../images/leading-10.png), url(../images/col-120.png);*/
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #222222;
  width: 1440px;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
ul, li {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
p {
  color: #868686;
}

/* ============================================
 모 듈
 ============================================ */

/* 컬 럼 */
.col-1 { width: 120px; }
.col-2 { width: 240px; }
.col-3 { width: 360px; }
.col-4 { width: 480px; }
.col-5 { width: 600px; }
.col-6 { width: 720px; }
.col-7 { width: 840px; }
.col-8 { width: 960px; }

/* isolate */
.row.isolate [class*="col-"] {
  margin-right: -100%;
}
.row.isolate .order-1 { margin-left: 0;}
.row.isolate .order-2 { margin-left: 120px; }
.row.isolate .order-3 { margin-left: 240px; }
.row.isolate .order-4 { margin-left: 360px; }
.row.isolate .order-5 { margin-left: 480px; }
.row.isolate .order-6 { margin-left: 600px; }
.row.isolate .order-7 { margin-left: 720px; }
.row.isolate .order-8 { margin-left: 840px; }

/* 폰 트 */
.oswald {
  font-family: "Oswald";
  font-weight: bold;
  letter-spacing: 0.1em;
}



/* Box */
.box { height: 120px; }

/* ============================================
 Header
 ============================================ */
 .header::after {
   content: "";
   clear: both;
   display: block;
 }
.logo, .main-menu li, .info-menu li {
  float: left;
}
.info-menu-wrap {
  float: right;
}
.main-menu li, .info-menu li {
  margin-top: 1.875rem;
  margin-right: 50px;
}
.logo, .basket, .my-info, .search {
  display: inline-block;
  text-indent: -9999rem;
}
.logo {
  background: url(../images/svg-icon-logo.svg) no-repeat 50% 0, url(../images/svg-icon-hamberger.svg) no-repeat 10% 50%;
  width: 240px;
  height: 1.25rem;
  margin-top: 1.875rem;
  margin-bottom: 0;
}
.basket {
  background: url(../images/svg-icon-bag.svg) no-repeat;
  width: 16px;
  height: 16px;
}
.my-info {
  background: url(../images/svg-icon-face.svg) no-repeat;
  width: 14px;
  height: 15px;
}
.search {
  background: url(../images/svg-icon-search.svg) no-repeat;
  width: 16px;
  height: 16px;
}

/* ============================================
 Slider
 ============================================ */

.slider {
  position: relative;
  margin-top: 1.875rem;
}
.main-slider img {
  float: left;
}
.main-slider-info {
  position: absolute;
  margin-top: 7.5rem;
  margin-left: 120px;
}
.main-slider-info > span:first-child {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #1f4ba5;
}
.product-name {
  margin-top: 1.25rem;
  margin-bottom: 0;
  font-size: 2.25rem;
  font-family: "Varela Round";
  font-weight: normal;
  line-height: 2.5rem;
  width: 240px;
  height: 5rem;
}
.main-slider-info p {
  font-size: 1rem;
  margin-top: 1.25rem;
  width: 220px;
}
.product-buy-btn {
  background-color: #1f4ba5;
  border-radius: 15px;
  line-height: 1.875rem;
  width: 165px;
  margin-top: 1.875rem;
}
.product-buy-btn span {
  color: #fff;
  font-size: 0.75rem;
  font-weight: normal;
  margin-left: 2em;
}
.product-buy-btn a {
  color: #fff;
  font-size: 0.75rem;
  font-family: "Varela Round";
  margin-left: 1.5em;
  padding: 0 1.5em;
  border-left: 1px solid #365dae;
  display: inline-block;
  line-height: 1.875rem;
}
.product-move-before-btn, .product-move-after-btn {
  position: absolute;
  top: 225px;
  width: 32px;
  height: 32px;
  text-indent: -9999rem;
  border: 0;
}
.product-move-before-btn {
  background: url(../images/svg-icon-arrow-left.svg) no-repeat;
  left: 30px;
}
.product-move-after-btn {
  background: url(../images/svg-icon-arrow-right.svg) no-repeat;
  right: 270px;
}
/* ============================================
 Banner
 ============================================ */
.banner img {
  float: left;
}
.banner-1, .banner-2, .banner-3{
  position: relative;
  float: left;
}
.banner-1-info, .banner-2-info, .banner-3-info {
  position: absolute;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}
.banner-2-info , .banner-3-info {
  bottom: 1.875rem;
}
.banner-1-info div, .banner-2-info div, .banner-3-info div {
  font-size: 1rem;
  font-family: "Varela Round";
  font-weight: normal;
  margin-top: 0.625rem;
}

/* 배너 - 1 */
.banner-1-info {
  bottom: 2.5rem;
}
.banner-1-info span, .banner-2-info span, .banner-3-info span {
  color: #1f4ba5;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.banner-1-info div {
  font-size: 1.5rem;
}
.banner-1-info p {
  margin-top: 0.625rem
}

/* 배너 - 2 */
.banner-2-info div {
  margin-top: 7.5rem;
  width: 160px;
}
.banner-3-info div {
  width: 150px;
}

/* ============================================
 Featured Product
 ============================================ */
.featured-box {
  float: left;
  width: 240px;
  height: 240px;
  box-sizing: border-box;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: relative;
  font-size: 0.75rem;
  font-family: "Varela Round";
  font-weight: normal;
  color: #222222;
}
.featured-box-head {
  background: url(../images/svg-icon-ruby.svg) no-repeat 50% 2.5rem;

}
.featured-box-head-info h2 {
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #1f4ba5;
  position: absolute;
  left: 50%;
  top: 5rem;
  transform: translateX(-50%);
  margin: 0;
}
.featured-box-head-info p {
  position: absolute;
  width: 70px;
  bottom: 2.5rem;
  transform: translateX(-50%)
}
.featured-box span {
  width: 145px;
  display: inline-block;
  margin-top: 1.25rem;
  line-height: 1rem;
}
.featured-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.featured-box span:last-child {
  position: absolute;
  bottom: 1.875rem;
  left: 50%;
  transform: translateX(-50%);
}
.featured-box-3-info span {
  width: 135px;
}
.featured-box-head, .featured-box-4 {
  border-left: 0;
}
.featured-box-head-info, .featured-box-1-info, .featured-box-2-info, .featured-box-3-info, .featured-box-4-info, .featured-box-5-info, .featured-box-6-info, .featured-box-7-info{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 100%;
}

/* ============================================
 Blog
 ============================================ */
.blog-box {
  float: left;
  width: 240px;
  height: 240px;
  box-sizing: border-box;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  position: relative;
}
.blog-box-head {
  border-left: 0;
}
.blog-box-3, .blog-box-4 {
  height: 120px;
}

.blog-box-head h2{
  width: 50px;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #1f4ba5;
  position: absolute;
  left: 50%;
  top: 5rem;
  margin: 0;
  transform: translateX(-50%);
}
.blog-box-head p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-family: "Varela Round";
  font-weight: normal;
  position: absolute;
  bottom: 2.5rem;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.blog-box-head {
  text-align: center;
  background: url(../images/svg-icon-news.svg) no-repeat 50% 2.5rem;
}

.blog-box-1 {
  background: url(../images/photo-blog-01.png) no-repeat;
  color: #fff;
}
.blog-box-info-1, .blog-box-info-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50% );
}
.blog-box-info-1 {
  text-align: center;
}
.blog-box-info-1 div:first-child, .blog-box-info-2 div:first-child {
  font-family: "PT Serif";
  font-style: italic;
  font-size: 0.75rem;
  line-height: 0.625rem;
  color: #b4b4b4;
}
.blog-box-info-1 div:nth-child(2), .blog-box-info-2 div:nth-child(2) {
  font-family: "Varela Round";
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5rem;
  width: 160px;
  margin: auto;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.blog-box-info-1 div:nth-child(3) {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #bfbcb9;
}
.blog-box-info-1 div:nth-child(3) span {
  font-family: "PT Serif";
  font-style: italic;
  font-size: 0.625rem;
  font-weight: lighter;
  text-transform: lowercase;
  margin-right: 0.3em;
  letter-spacing: 0;
}

.blog-box-info-2 {
  text-align: left;
}
.blog-box-info-2 div:nth-child(2) {
  font-size: 0.875rem;
  line-height: 1.125em;
  width: 170px;
}

/* ============================================
 Testimonials
 ============================================ */
.testimonials {
  float: left;
  position: relative;
  width: 480px;
  height: 480px;
}
.testimonials-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  text-align: center;
}
.testimonials-box h2 {
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #1f4ba5;
  margin-bottom: 4.375rem;
  background: url(../images/svg-icon-chat-double.svg) no-repeat 30px;
}
.testimonials-box blockquote {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-family: "PT Serif";
  font-style: italic;
  color: #868686;
}
.testimonials-box blockquote::before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 11px;
  left: 50%;
  top: -1.875rem;
  background: url(../images/svg-icon-quote.svg) no-repeat;
}
.komol {
  display: inline-block;
}
.komol figcaption {
  float: right;
  width: 130px;
  margin-top: 0.625rem;
  margin-left: 1em;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "Varela Round";
  text-align: left;
}
.komol figcaption span {
  font-size: 0.75rem;
  font-family: "PT Serif";
  font-style: italic;
  color: #dbdbdb;
}
.testimonials-box button {
  position: absolute;
  top: -5px;
  right: 30px;
  border: 1px solid #ececec;
  background: url(../images/icon-reload.svg) no-repeat 50% 50%;
  width: 30px;
  height: 30px;
  text-indent: -9999rem;
}


/* ============================================
 about
 ============================================ */

/* 칼럼 설정 */
[class*="col-"] {
  float: left;
  margin: 0;
}
.row::after, .clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.about-col-1 { width: 60px; }
.about-col-2 { width: 120px; }
.about-col-3 { width: 180px; }
.about-col-4 { width: 240px; }
.about-col-5 { width: 300px; }
.about-col-6 { width: 360px; }
.about-col-7 { width: 420px; }
.about-col-8 { width: 480px; }

/* isolate - about */
.about-image-box .row.isolate .order-1 { margin-left: 0; }
.about-image-box .row.isolate .order-2 { margin-left: 60px; }
.about-image-box .row.isolate .order-3 { margin-left: 120px; }
.about-image-box .row.isolate .order-4 { margin-left: 180px; }
.about-image-box .row.isolate .order-5 { margin-left: 240px; }
.about-image-box .row.isolate .order-6 { margin-left: 300px; }
.about-image-box .row.isolate .order-7 { margin-left: 360px; }
.about-image-box .row.isolate .order-8 { margin-left: 420px; }



.about {
  width: 480px;
  height: 480px;
  float: left;
  position: relative;
  border-left: 1px solid #ececec;
  box-sizing: border-box;
}
.about-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  text-align: center;
}
.about-box h2 {
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #1f4ba5;
  margin-bottom: 2.5rem;
  background: url(../images/svg-icon-briefcase.svg) no-repeat 30px;
}
.about-image-box {
  height: 120px;
}
.about-brands-box, .about-countries-box {
  background-color: #1f4ba5;
}
.about-brands-box-wrap,
.about-countries-box-wrap {
  height: 60px;
}
.about-brands-box-wrap {
  background: url(../images/svg-icon-storage.svg) no-repeat 20px;
}
.about-countries-box-wrap {
  background: url(../images/svg-icon-map.svg) no-repeat 20px;
}
.about-brands-box-wrap p,
.about-countries-box-wrap p {
  height: 60px;
  color: #fff;
  font-size: 1.125rem;
  text-align: left;
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;

}
.about-brands-box span, .about-countries-box span {
  display: block;
  font-family: "PT Serif";
  font-style: italic;
  font-size: 0.75rem;
  letter-spacing: normal;
}
.about-box blockquote {
  position: relative;
  display: block;
  margin-top: 3.125rem;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: "PT Serif";
  font-style: italic;
  color: #868686;
}
.about-box blockquote::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 11px;
  left: 50%;
  top: -1.25rem;
  background: url(../images/svg-icon-quote.svg) no-repeat;
}

.about-box > p {
  width: 438px;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "Varela Round";
}

/* ============================================
 brands
 ============================================ */
.brands {
  display: block;
}
.brands li{
  float: left;
  text-indent: -9999rem;
  border-left: 1px solid #ececec;
  box-sizing: border-box;
}
.brands li:first-child {
  background: url(../images/icon-H&M.png) no-repeat 50% 50%;
  border-left: 0;
}
.brands li:nth-child(2) { background: url(../images/icon-PUMA.png) no-repeat 50% 50%;}
.brands li:nth-child(3) { background: url(../images/icon-adidas.png) no-repeat 50% 50%; }
.brands li:nth-child(4) { background: url(../images/icon-CONVERSE.png) no-repeat 50% 50%; }
.brands li:nth-child(5) { background: url(../images/icon-BOSS.png) no-repeat 50% 50%; }
.brands li:nth-child(6) { background: url(../images/icon-Nike.png) no-repeat 50% 50%; }
.brands li:nth-child(7) { background: url(../images/icon-Crown.png) no-repeat 50% 50%; }
.brands li:last-child {
  text-indent: 0;
  text-align: center;
  position: relative;
}
.brands li:last-child a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 0.875rem;
  color: #1f4ba5;
  text-transform: uppercase;
}
/* ============================================
 footer
 ============================================ */
.footer-main-menu li {
  float: left;
}
