@charset "UTF-8";

body {
  background-image: url(blackmen.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 50%;
}

.box{
  width: 200px;
  height: 200px;
  background-color: powderblue;
  text-transform: capitalize;
  padding: 1em;
  margin: 1em 0;
  border: 2px dashed black;
}
.clip-padding{
  background-clip: padding-box;
}
.clip-content{
  background-clip: content-box;
}

.box-img{
  background-image: url(blackmen.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.clip-padding-img{
  background-origin: border-box;
  background-image: url(blackmen.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.clip-content-img{
  background-origin: content-box;
  background-image: url(blackmen.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.bgz{
  width: 200px;
  height: 200px;
  background: black center bottom no-repeat;
  background-image: url(blackmen.png);

}
.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-tran{
  width: 300px;
  height: 100px;
  position: relative;
  background-color: green;
}
.box::after{
  content: "";
  position: absolute;
  top: 90%;
  right: 100%;
  background-color: tomato;
}
.box::after:hover{
  
}
