/**
 *  페이지 폭: 1920px
 *  컬럼 개수: 16
 *  컬럼 폭: 120px
 *  거터 폭: 0
 */

 /* ============================================
  초기화
  ============================================ */

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
}

body {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Varela Round"
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.a11y {
  text-indent: -9999em;
}

/* ============================================
 폰트 모듈
 ============================================ */
.vrela-round-12px {
  font-size: 0.75rem;
}


/* ============================================
 정적 Static 그리드
 ============================================ */

/* 그리드 모듈 */
.contianer {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.container[class*='show-'] {
  position: relative;
}
.container[class*='show-']::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  min-height: 100vh;
  width: 1920px;
}
.container.show-grid::before {
  background: linear-gradient(transparent 9px, #6426fb 9px), linear-gradient(90deg, hsla(89, 86%, 74%, 0.1) 120px, hsla(163, 64%, 49%, 0.1) 120px);
  background-size: 1px 10px, 240px 1px;
}

/* 로우 & 클리어픽스 모듈 */
.row::after,
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* 컬럼 모듈 */
[class*="col-"] {
  float: left;
}
.col-1 { width: 120px; }
.col-2 { width: 240px; }
.col-3 { width: 360px; }
.col-4 { width: 480px; }
.col-5 { width: 600px; }
.col-6 { width: 720px; }
.col-7 { width: 840px; }
.col-8 { width: 960px; }
.col-9 { width: 1080px; }
.col-10 { width: 1200px; }
.col-11 { width: 1320px; }
.col-12 { width: 1440px; }
.col-13 { width: 1560px; }
.col-14 { width: 1680px; }
.col-15 { width: 1800px; }
.col-16 { width: 1920px; }

/* 푸쉬 & 풀 모듈 */
[class*="push-"],
[class*="pull-"] {
  position: relative;
}

.push-1 { left: 120px; }
.push-2 { left: 240px; }
.push-3 { left: 360px; }
.push-4 { left: 480px; }
.push-5 { left: 600px; }
.push-6 { left: 720px; }
.push-7 { left: 840px; }
.push-8 { left: 960px; }
.push-9 { left: 1080px; }
.push-10 { left: 1200px; }
.push-11 { left: 1320px; }
.push-12 { left: 1440px; }
.push-13 { left: 1560px; }
.push-14 { left: 1680px; }
.push-15 { left: 1800px; }
.push-16 { left: 1920px; }

.pull-1 { right: 120px; }
.pull-2 { right: 240px; }
.pull-3 { right: 360px; }
.pull-4 { right: 480px; }
.pull-5 { right: 600px; }
.pull-6 { right: 720px; }
.pull-7 { right: 840px; }
.pull-8 { right: 960px; }
.pull-9 { right: 1080px; }
.pull-10 { right: 1200px; }
.pull-11 { right: 1320px; }
.pull-12 { right: 1440px; }
.pull-13 { right: 1560px; }
.pull-14 { right: 1680px; }
.pull-15 { right: 1800px; }
.pull-16 { right: 1920px; }

/* 격리된 플로팅 모듈 */
.row.isolate [class*="col-1"] {
 margin-right: -100%
}

.row.isolate .o1 { margin-left: 0; }
.row.isolate .o2 { margin-left: 120px; }
.row.isolate .o3 { margin-left:  240px; }
.row.isolate .o4 { margin-left:  360px; }
.row.isolate .o5 { margin-left:  480px; }
.row.isolate .o6 { margin-left:  600px; }
.row.isolate .o7 { margin-left:  720px; }
.row.isolate .o8 { margin-left:  840px; }
.row.isolate .o9 { margin-left:  960px; }
.row.isolate .o10 { margin-left:  1080px; }
.row.isolate .o11 { margin-left:  1200px; }
.row.isolate .o12 { margin-left:  1320px; }
.row.isolate .o13 { margin-left:  1440px; }
.row.isolate .o14 { margin-left:  1560px; }
.row.isolate .o15 { margin-left:  1680px; }
.row.isolate .o16 { margin-left:  1800px; }
/* ============================================
 header
 ============================================ */
.logo, .main-menu li, .main-menu-2 li, .info-menu li, form {
  float: left;
}

.logo, .main-menu li, .main-menu-2 li, .info-menu li {
  margin-top: 1.875rem;
}
/* 로고 */
.logo {
  background: url(../images/icon-logo.svg) no-repeat;
  width: 95.282px;
  height: 19.25px;
  margin-left: 5rem;
}

/* 메인 메뉴 */
.main-menu li {
  margin-left: 3.75rem;
}
.main-menu-2 {
  margin-left: 5rem;
}
.main-menu-2 li {
  margin-left: 2.8125rem;
}

/* 인포 메뉴 */
.search-form {
  margin-top: .3125rem;
  margin-left: 50px;
}
.search-form input {
  height: 1.875rem;
  background-color: #f6f6f6;
  border-radius: 15px;
  border-style: none;
}
.info-menu li {
  margin-left: 4.375rem;
}
