/* container */
.container {
  width: 1380px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background: linear-gradient(transparent 10px, powderblue 10px), linear-gradient(90deg, transparent 8px, pink 8px, tomato 107px, transparent 107px);
  background-size: 1px 11px, 115px 1px;
}
/* box */
.box {
  height: 99px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 99px;
}
.box:nth-child(1) {background: #fd6e74; }
.box:nth-child(2n) {background: #74ffe0; }
.box:nth-child(3n) {background: #7dc1ff; }
.box:nth-child(4n) {background: #a560ff; }
.box:nth-child(5n) {background: #fc4485; }
.box:nth-child(6n) {background: #fbe08b; }
.box:nth-child(7n) {background: #f89379; }
.box:nth-child(8n) {background: #6bf9f5; }
.box:nth-child(9n) {background: #cf42a9; }
.box:nth-child(10n) {background: #924922; }
.box:nth-child(11n) {background: #32a40f; }
.box:nth-child(12n) {background: #831d34; }


/* clearfix & row */
.row::after, .clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* column */
[class*="col-"] {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}
.col-1 { width: 99px; }
.col-2 { width: 214px; }
.col-3 { width: 329px; }
.col-4 { width: 444px; }
.col-5 { width: 559px; }
.col-6 { width: 674px; }
.col-7 { width: 789px; }
.col-8 { width: 904px; }
.col-9 { width: 1019px; }
.col-10 { width: 1134px; }
.col-11 { width: 1249px; }
.col-12 { width: 1364px; }

/* isolate */
.row.isolate [class*="col-"]{
  margin-right: -100%;
}
.row.isolate .order-1 { margin-left: 8px; }
.row.isolate .order-2 { margin-left: 123px; }
.row.isolate .order-3 { margin-left: 238px; }
.row.isolate .order-4 { margin-left: 353px; }
.row.isolate .order-5 { margin-left: 468px; }
.row.isolate .order-6 { margin-left: 583px; }
.row.isolate .order-7 { margin-left: 698px; }
.row.isolate .order-8 { margin-left: 813px; }
.row.isolate .order-9 { margin-left: 928px; }
.row.isolate .order-10 { margin-left: 1043px; }
.row.isolate .order-11 { margin-left: 1158px; }
.row.isolate .order-12 { margin-left: 1273px; }
