.header
  a
    text-decoration: none
    color: #5b5c5d

.logo
  background: url("../images/icon-Aqua-logo.png") no-repeat
  width: 103px
  height: 35px
  a
    position: absolute
    @extend .a11y

.nav
  li

.navigation-wrapper
  background-color: #f1f5f8

.navigation
  width: 1170px
  justify-content: space-between
  align-items: center
  height: 6.25rem

.main-nav
  width: 370px
  justify-content: space-between
  align-items: center

.info-nav
  width: 165px
  justify-content: space-between
  align-items: center


.head-product-wrapper
  width: 100vw
  background: url(../images/photo-BnOA9.png) no-repeat top center

.head-product
  padding-left: 4.375rem
  height: 830px
  h2
    padding-top: 10.625rem
    width: 20.625rem
    font-size: 3.75rem
    letter-spacing: -.035em
  p
    width: 18.75rem
    font-size: 1.5rem
    color: #9a9a9a

.color-select-group
  h3
    margin-top: 1.875rem
    font-size: 1.125rem
  label
    // 레이블의 내용 안보이게 하기
    display: inline-block
    box-sizing: border-box
    overflow: hidden
    padding-left: 45px
    //
    height: 45px
    width: 45px
    border-radius: 50%
    margin-right: 10px
    margin-top: 1.25rem
  label:nth-of-type(1)
    @include color-select(#f1f1f1, #dadada)
  label:nth-of-type(2)
    @include color-select(#484848, #464646)
  label:nth-of-type(3)
    @include color-select(#e1b7a4, #caa493)


  input[type="radio"]
    position: absolute
    left: -9999em

  input[type="radio"]:nth-of-type(1):checked + label::before
    content: ''
    height: 12px
    width: 17px
    background: url(../images/icon-check-blue.png) no-repeat
