@charset "UTF-8";

/* 초기 설정 */
body {
  margin: 0;
}

/* 가이드 */
body.guide {
  background: url(images/leading-21.png);
  min-height: 100vh;
}

/* 레이아웃 */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* 각 섹션의 헤더 영역 */
.section {
  padding-left: 160px;
}

/* 타이포그래피 */
body {
  font: 0.875rem/1.3125rem "Spoqa Han Sans", Dotum, Sans-Serif;
}

/*=======================================================================
  Typography
=======================================================================*/
/* 본문 디자인 */
p {
  margin-top: 1.3125rem;
  margin-bottom: 0;
  letter-spacing: -0.02em;
}

/* 제목 디자인 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.3125rem;
  margin-bottom: 0;
  font-weight: 200;
  color: #787f94;
  letter-spacing: -0.05em;
}
h1, h2 {
  line-height: 3.9375rem;
}
h3, h4, h5 {
  line-height: 2.625rem;
}
h1 {
  font-size: 3.4145359021530677rem;
}
h2 {
  font-size: 2.6005604738408743rem;
}
h3 {
  font-size: 1.9806248848749997rem;
}
h4 {
  font-size: 1.5084728749999998rem;
}
h5 {
  font-size: 1.1488749999999999rem;
}
h6 {
  font-size: 0.875rem;
}

/* 제목 앞, Heading 표시 레이아웃 */
.h1, .h2, .h3, .h4, .h5, .h6, .p {
  position: relative;
}
.h1 span, .h2 span, .h3 span, .h4 span, .h5 span, .h6 span, .p span {
  position: absolute;
}
.h1 h1, .h2 h2, .h3 h3, .h4 h4, .h5 h5, .h6 h6, .p p {
  padding-left: 100px;
}
.h1 span, .h2 span {
  margin-top: 1.3125rem;
}
.h3 span, .h4 span, .h5 span {
  margin-top: 0.65625rem;
}

/*=======================================================================
  Lists
=======================================================================*/
/* 비순차 목록 */
.ul, .ol, .dl {
  float: left;
  padding-left: 30px;
}
.dl {
  width: 285px;
}
.
