body {
  margin: 0;
}

.container {
  height: 100vh;
}
.button-wrap {
  position: relative;
  width: 500px;
  height: 500px;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
}
.button-wrap a {
  text-decoration: none;
  color: white;
  /*text-shadow: -1px -1px hsla(0, 0%, 0%, 0.82);*/
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border-radius: 100%;
  display: block;
  font-family: 'Bungee', cursive;
  font-weight: bold;
  font-size: 20px;
  /*border-bottom: 2px solid #525252;*/
  transition: all 0.1s;
  position: absolute;
}
.button:active {
  transform: translateY(2px);
  /*border-bottom: 1px solid #494647;*/
}
.button-1 {
  background-color: #ff0000;
  left: -10%;
  top: 10%;
}
.button-2 {
  background-color: #00ff00;
  left: 35%;
  top: 85%;
}
.button-3 {
  background-color: #0000ff;
  right: -10%;
  top: 10%;
}
